

.cont{
    background-color: blue;
    color: white;
    padding: 20px;
    border-radius: 10px;
    border: none;
    width: max-content;
}

.box{
    background-color: red;
    color: white;
    margin: 10px;
}